@charset "utf-8";
/* CSS Document */

   .psm-container {
	   float:left;
	   display:inline-block;
	   margin: 2px 0px 5px 5px;
	   clear:both;
   }
   .quotebuttons {
        appearance: button;
		border-radius: 10px;
        text-decoration: none;
		width:230px;
		height:20px;
		background: #efefef;
        display: inline-block;
		overflow: hidden;
    }
	.quotetext1 {
		padding: 13px 0px 0px 0px;
		font-weight: bolder; 
        font-size: 11px;
		text-align: left;
        color: #000000;
		line-height:11px;
		font-family: arial;
		
	}
	.quotetext1-icon {
		width:25px;
   		height:25px;
   		content:url(../icons/youtube.png);
  		margin-top: -9px;
   		padding: 0px 10px 1px 5px;
		float: left;
	}
	
	.quotetext2-icon {
		width:25px;
   		height:25px;
   		content:url(../icons/analyticsicon.png);
  		margin-top: -9px;
   		padding: 0px 10px 1px 5px;
		float: left;
	}
	
	
	table.plzsharemetables {
		font-family: verdana, arial, sans-serif;
		font-size: 11px;
		color: #333333;
		border-width: 1px;
		border-color: #3A3A3A;
		border-collapse: collapse;
		width: 80%;
		clear: both;
	}
 
	table.plzsharemetables th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #004CA7;
		background-color: #B2CFD8;
	}
 
	table.plzsharemetables tr:hover td {
		background-color: #DFEBF1;
	}
 
	table.plzsharemetables td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #004CA7;
		background-color: #ffffff;
		word-wrap: break-word;
	}
	
/* sharing buttons added v2.0 */

#psm-follow-stack ul {
		float:left;
		overflow: auto;
		width: 135px;
		margin-left: 24px;
		margin-bottom: 10px;
		padding-left: 0;
}
#psm-follow-stack ul li {
		font-size: 14px;
		margin-bottom: 1px;
		color: #bbb;
		list-style-type: none;
}
	
	.psm-social-blocks-text {
	font:arial;
	font-size:13px;
	font-weight:bolder;
	font-color: #000000;
	line-height:13px;
	display:inline;
}
.psm-social-blocks {
	width:35px;
	height:35px;
	display:inline;
	font: arial;
	font-size:14px;
	font-weight: bold;
	text-align:center;
	text-decoration:none;
}
.psm-social-fb {
	background: #0000FF;
	color: #ffffff;
	padding:8px;
	text-decoration:none;
}
.psm-social-tw {
	background: #0099FF;
	color: #ffffff;
	padding:8px;
	text-decoration:none;
}
.psm-social-pi {
	background: red;
	color: #ffffff;
	padding:8px;
	text-decoration:none;
}
.psm-social-tu {
	background: #003366;
	color: #ffffff;
	padding:8px;
	text-decoration:none;
}
.psm-social-re {
	background: silver;
	color: #ffffff;
	padding:8px;
	text-decoration:none;
}
.psm-social-bl {
	background: navy;
	color: #ffffff;
	padding:8px;
	text-decoration:none;
}


	
	